@font-face {
  font-family: "plain light";
  src: url("./plain-light-webfont.ttf");
}

@font-face {
  font-family: "silk serif";
  src: url("./silkserif-lightitalic-webfont.ttf");
}

@font-face {
  font-family: "silk regular";
  src: url("./silkserif-regularitalic-webfont.ttf");
}
@font-face {
  font-family: "plain regular";
  src: url("./plain-regular-webfont.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "plain light";
  color: white;
}

html,
body {
  height: 100%;
  width: 100%;
}

/* OBOBOB */

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #0b0b0b;
  padding: 25vh 10vw;
}

.line {
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3vw;
}

#line1-part1 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
}

#line1-part1 h5 {
  width: 5vw;
  text-align: right;
}

#line1-part1 h5,
#line1-part1 h6 {
  font-size: 3vw;
  font-weight: 100;
  font-family: "silk serif";
}

.line h1 {
  font-size: 6.5vw;
  text-transform: uppercase;
  font-weight: 800;
}

.line h2 {
  font-size: 5vw;
  text-transform: uppercase;
  animation-name: anime;
  opacity: 0;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes anime {
  0% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px solid white;
    color: #fff;
    opacity: 1;
    font-weight: 500;
  }
  47% {
    font-family: "plain light";
    opacity: 0;
    font-weight: 500;

    -webkit-text-stroke: 1px solid white;
    color: #fff;
  }
  50% {
    -webkit-text-stroke: 1px solid white;
    font-weight: 500;
    opacity: 1;
    font-family: "silk serif";
    color: transparent;
  }
  100% {
    -webkit-text-stroke: 1px solid white;
    font-weight: 500;
    opacity: 0;
    font-family: "silk serif";
    color: transparent;
  }
}

#main {
  position: relative;
  background-color: #030303;
}

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
}

#page1 nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.3vw 4vw;
}

nav #nav-part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}

#nav-part2 h4 {
  font-size: 1vw;
  font-weight: 500;
}

.hero {
  background-color: red;
}

.hero:nth-child(2) {
  margin-top: 100px;
}

.hero h1 {
  font-size: 8vw;
  text-transform: uppercase;
  line-height: 7vw;
}
